    html {
      box-sizing: border-box;
      background:black;
      font-family:'courier new';
      font-size: 20px;
      font-weight: 200;
      color: seagreen;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    input {
      width: 100%;
      padding:10px;
    }
    
    div {
      /*border: 1px solid red;*/
      padding: 5px;
    }

    .email-browser {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
    }

    .years {
      margin: 60px 10px;
      max-width: 60px;
      flex-direction: column;
      padding: 0;
      font-family: courier;
      text-align: right;
      color: cadetblue;
    }

    .year.header {
      font-weight: bold;
    }

    .year {
      padding: 5px;
    }

    .months {
      margin: 60px 10px;
      max-width: 60px;
      flex-direction: column;
      padding: 0;
      font-family: courier;
      color: cadetblue;
    }

    .month.header {
      font-weight: bold;
    }

    .month {
      padding: 5px;
    }

    .navigation {
      width: 300px;
      flex-direction: column;
    }

    .search-form {
      margin:50px 5px;
      
    }

    .reader {
      flex: 7;
      align-content: flex-start;
      display: flex;
      flex-direction: column;
    }

    .email-header {
      margin: 60px 50px 20px 50px;
      flex-direction: column;
      align-content: left;
      padding: 5px;
    }

    .email-body {
      margin: 50px;
      flex-direction: column;
      font-size: 14px;
    }

    input.search {
      margin: 0;
      text-align: left;
      outline:0;
      border: 5px solid rgb(49, 2, 2);
      width: 100%;
      position: relative;
      top: 10px;
      z-index: 2;
      font-size: 24px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    }

    input {
      background-color: rgb(12, 2, 2);
      color: rgb(200, 200, 200);
      font-family: courier;
    }

    .suggestions {
      margin: 0;
      padding: 10px 0;
      position: relative;
      font-size: 16px;
      /*perspective:20px;*/
    }
    .suggestions li {
      background:black;
      list-style: none;
      border-bottom: 2px solid rgb(13, 29, 14);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
      margin:0;
      padding:10px;
      transition:background 0.2s;
      display:block;
      justify-content:space-between;
      text-transform: capitalize;
      flex-direction: row;
    }

    .hl {
      background: rgba(207, 226, 33, 0.274);
    }

    .sender {
      font-weight: bold;
    }

    li {
      list-style: none;
    }